<mat-toolbar color="primary">
  <span>My Angular Pitch</span>
</mat-toolbar>

<div class="container py-3">
  <app-custom-input [formControl]="title"></app-custom-input>

  <br>

  {{ title.value }}
</div>