<mat-form-field appearance="outline" class="w-100 mb-4">
    <mat-label>Outline form field</mat-label>
    <input matInput [formControl]="customInput" placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>